@import "../../styles/GlobalVariablesScss.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";


.item {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-normal;
  font-weight: 400;
  background-color: $background-three2;
  letter-spacing: 0.25px;

  .cardBody {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font-normal;
    font-weight: 400;

    &__sectionBack {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: $background-three;
      height: 60px;
      margin: 0;
      padding: 0 1rem;
      border: 0;
      color: $text-color-one;

      &__p {
        height: fit-content;
        margin: 0;
        padding: 0rem 0.75rem;

        p {
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

      &__button {
        font-family: $font-normal;
        padding: 0.75rem 1.75rem;
        border: $border-color-two;
        color: $text-color-two;
        border-radius: $border-radius-button;
        background: $background-five;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        font-weight: 700;

        &:hover {
          color: $text-color-one;
          background-color: $color-zero;
          border: $border-color-one;
        }
      }
    }


    &__sectionTittle {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      margin: 0;
      padding: 0 1rem;
      border: 0;
      background: $background-three;
      color: $text-color-one;

      &__img {
        width: 15px;
        height: 15px;
      }

      &__p {
        height: fit-content;
        margin: 0;
        padding: 0rem 0.75rem;

        p {
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

      &__pLoc {
        display: flex;
        gap: 0.33rem;

        p {
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

      &__pRated {
        p {
          font-size: 1.15rem;
          color: white;
          font-family: $font-normal;
          font-weight: 400;
          margin: 0;
          padding: 0;
          border: 0;
        }

        span {
          color: white;
          font-family: $font-bold;
          font-weight: 700;
        }
      }

    }

    &__sectionIcons {
      margin: 1rem 3rem;
      border: 0;
      display: flex;
      gap: 1rem;

      &__img {
        width: 20px;
        height: 20px;
        padding: 0.25rem;
        border-bottom: 4px solid $background-three2 ;
      }

      &__img:hover {
        border-bottom: 4px solid red;
      }
    }

    &__sectionGallery {
      width: 100%;
      height: fit-content;
    }

    &__sectionDescription {
      margin: 0 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-items: center;

      &__lines {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
      }
    }

    &__sectionCharacteristics {
      margin: 0;
      display: grid;
      font-family: $font-bold;
      font-weight: 400;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "titleChar titleChar titleChar titleChar"
        "description1 description2 description3 description4"
        "description5 description6 description7 description8";
      justify-items: flex-start;

      p {
        text-align: center;
        margin: 0;
        padding: 0;
        border: 0;
      }

      &__title {
        grid-area: titleChar;
        margin: 0 3rem;
      }

      &__lines1 {
        width: 100%;
        grid-area: description1;
        margin: 0 1.5rem;
      }

      &__lines2 {
        width: 100%;
        grid-area: description2;
      }

      &__lines3 {
        width: 100%;
        grid-area: description3;
      }

      &__lines4 {
        width: 100%;
        grid-area: description4;
      }

      &__lines5 {
        width: 100%;
        grid-area: description5;
      }

      &__lines6 {
        width: 100%;
        grid-area: description6;
      }

      &__lines7 {
        width: 100%;
        grid-area: description7;
        margin: 0 1.5rem;
      }

      &__lines8 {
        width: 100%;
        grid-area: description8;

      }
    }

    &__sectionReservation {
      font-family: $font-bold;
      font-weight: 400;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.20fr 1fr;
      justify-items: flex-start;
      align-items: center;

      grid-template-areas:
        "titleReser titleReser titleReser"
        "calendar calendar reserve";

      &__title {
        margin: 0 3rem;
        grid-area: titleReser;
      }

      &__calendar {
        margin: 0 15%;
        grid-area: calendar;
      }

      &__reserve {
        width: 80%;
        font-size: 1rem;
        text-align: center;
        color: $text-color-one;
        grid-area: reserve;
        display: flex;
        background-color: $color-two;
        flex-direction: column;
        border: 3px solid rgb(116, 183, 107);
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 2px 2px 4px rgb(45, 97, 38);
        align-items: center;
        justify-content: center;

        p:nth-child(1) {
          margin: 0;
          padding: 0.25rem;
          border: 0;
        }

        p:nth-child(2) {
          margin: 0;
          margin-bottom: 2rem;
          padding: 0.25rem;
          border: 0;
        }

        .buttonReservation {

          font-family: $font-normal;
          padding: 0.75rem 1.75rem;
          border: $border-color-two;
          color: $text-color-two;
          border-radius: $border-radius-button;
          background: $background-five;
          transition: all 0.3s ease-in-out;
          font-size: 1rem;
          font-weight: 700;

          &:hover {
            color: $text-color-one;
            background-color: $color-zero;
            border: $border-color-one;
          }
        }
      }
    }

    .sectionPolitic {

      display: flex;
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0;
      border: 0;

      h2 {
        margin: 0;
        margin-left: 3rem;
        padding: 0;
        border: 0;
      }

      .buttonPolitic {
        font-family: $font-normal;
        padding: 0 0.5rem;
        margin: 0 0 0 3rem;
        border: 0;
        border-bottom: 4px solid green;
        color: $text-color-two;
        border-radius: 0;
        background: $background-three2;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        font-weight: 700;
        width: fit-content;

        &:hover {
          color: $text-color-two;
          background: $background-three2;
          border-bottom: 4px solid rgb(116, 200, 116);
        }
      }
    }

    .sectionPoliticClose {

      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      border: 0;

      p {
        font-size: 1rem;
        font-family: $font-normal;
        font-weight: 400;
        margin: 0;
        padding: 0.5rem 0;
        border: 0;
      }

      .buttonPolitic {
        font-family: $font-normal;
        padding: 0 1rem;
        margin: 0 0 0 3rem;
        border: 0;
        border-bottom: 4px solid green;
        color: $text-color-two;
        border-radius: 0;
        background: $background-three2;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        font-weight: 700;
        width: fit-content;

        &:hover {
          color: $text-color-two;
          background: $background-three2;
          border-bottom: 4px solid rgb(116, 200, 116);
        }
      }

      &__div {
        font-family: $font-bold;
        font-weight: 400;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: start;

        grid-template-areas:
          "norms health politics";

        &__norms {
          grid-area: norms;
        }

        &__health {
          grid-area: health;
        }

        &__politics {
          grid-area: politics;
        }
      }

    }
  }


}


@media(max-width: 768px) {
  .item {
    .cardBody {
      &__sectionCharacteristics {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "titleChar titleChar"
          "description1 description2"
          "description3 description4"
          "description5 description6"
          "description7 description8";
      }

      .sectionPoliticClose {
        &__div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;

          grid-template-areas:
            "norms health"
            "politics politics";
        }
      }
    }
  }
}

@media(max-width: 550px) {
  .item {
    .cardBody {
      &__sectionIcons {
        margin: 1rem 1.5rem;
      }

      &__sectionDescription {
        margin: 0 1.5rem;
      }

      &__sectionCharacteristics {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:
          "titleChar"
          "description1"
          "description2"
          "description3"
          "description4"
          "description5"
          "description6"
          "description7"
          "description8";

        &__title {
          grid-area: titleChar;
          margin: 0 1.5rem;
        }

        &__lines1 {
          width: 100%;
          height: fit-content;
          grid-area: description1;
          margin: 0;
        }

        &__lines2 {
          width: 100%;
          height: fit-content;
          grid-area: description2;
        }

        &__lines3 {
          width: 100%;
          height: fit-content;
          grid-area: description3;
        }

        &__lines4 {
          width: 100%;
          height: fit-content;
          grid-area: description4;
        }

        &__lines5 {
          width: 100%;
          height: fit-content;
          grid-area: description5;
        }

        &__lines6 {
          width: 100%;
          height: fit-content;
          grid-area: description6;
        }

        &__lines7 {
          width: 100%;
          height: fit-content;
          grid-area: description7;
          margin: 0;
          padding-bottom: 0.75rem;
        }

        &__lines8 {
          width: 100%;
          height: fit-content;
          grid-area: description8;

        }
      }


      &__sectionTittle {

        &__pRated p {
          display: none;
          overflow: hidden;
        }
      }

      .sectionPoliticClose {
        &__div {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          align-items: center;
          grid-template-areas:
            "norms"
            "health"
            "politics";
        }
      }
    }
  }
}

@media(max-width: 400px) {
  .item {
    .cardBody {
      &__sectionTittle {
        height: 70px;
      }
    }
  }
}