// START - Calendário
.calendar-input {
	color: #333;
	border: nome;
}

.react-calendar {
	width: 400px;
	max-width: 100%;
	background-color: #fff;
	color: #222;
	border: 0;
	border-radius: 8px;
	box-shadow: none;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.125em;
}

.react-calendar--doubleView {
	width: 700px;
  }

.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 60%;
	margin: 0.5em;
  }

.react-calendar__navigation {
	button {
		color: #287146;
		min-width: 44px;
		background: none;
		font-size: 16px;
		margin-top: 8px;
		&:enabled {
			&:hover {
				background-color: #cbd6ce;
			}
			&:focus {
				background-color: #cbd6ce;
			}
		}
	}
	button[disabled] {
		background-color: #f0f0f0;
	}
}

abbr[title] {
	text-decoration: none;
}

.react-calendar__tile {
	&:enabled {
		&:hover {
			background: #cbd6ce;
			color: #287146;
			border-radius: 6px;
		}
		&:focus {
			background: #cbd6ce;
			color: #287146;
			border-radius: 6px;
		}
	}
}

.react-calendar__tile--now {
	background: #28714633;
	border-radius: 6px;
	font-weight: bold;
	color: #287146;
	&:enabled {
		&:hover {
			background: #287146;
			border-radius: 6px;
			font-weight: bold;
			color: #a5beaf;
		}
		&:focus {
			background: #287146;
			border-radius: 6px;
			font-weight: bold;
			color: #a5beaf;
		}
	}
}

.react-calendar__tile--hasActive {
	&:enabled {
		&:hover {
			background: #cbd6ce;
		}
		&:focus {
			background: #cbd6ce;
		}
	}
}

.react-calendar__tile--active {
	background: #287146;
	border-radius: 6px;
	font-weight: bold;
	color: white;
	&:enabled {
		&:hover {
			background: #287146;
			color: white;
		}
		&:focus {
			background: #287146;
			color: white;
		}
	}
}

.react-calendar--selectRange {
	.react-calendar__tile--hover {
		background-color: #cbd6ce;
	}
}

.react-calendar__tile--range {
	background: #c4dbcd;
	color: #287146;
	border-radius: 0;
}

.react-calendar__tile--rangeStart {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background: #287146;
	color: white;
}

.react-calendar__tile--rangeEnd {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background: #287146;
	color: white;
}
// END - Calendário