// Tipografia
$font-normal: 'Ubuntu', sans-serif;
$font-bold: 'Ubuntu', sans-serif;

// //Cores
// $text-color-one: #fcf4eb;
// $text-color-two: #ad5e2d;
// $text-color-three: #cfaf6b;

// $border-color-zero: none;
// $border-color-one: 1px solid #fff;
// $border-color-two: 1px solid #795e3d;
// $border-color-three: 1px solid #79563d;
// $border-one-side: #ac7243 4px groove;
// $border-box-shadow-one: 2px 2px 3px #f5cba1;

// $color-one: #b86d22;
// $color-two: #411c03;
// $color-three: #d78258;

// $background-zero: black;
// $background-one: #663610;
// $background-three: #8b5930;
// $background-four: rgb(72, 72, 72);
// $background-five: #f5efe4;

// //Cores
// $text-color-one: #fcf4eb;
// $text-color-two: #ad5e2d;
// $text-color-three: #cfaf6b;

// $border-color-zero: none;
// $border-color-one: 1px solid #fff;
// $border-color-two: 1px solid #795e3d;
// $border-color-three: 1px solid #79563d;
// $border-one-side: #ac7243 4px groove;
// $border-box-shadow-one: 2px 2px 3px #f5cba1;

// $color-one: #b86d22;
// $color-two: #411c03;
// $color-three: #d78258;

// $background-zero: black;
// $background-one: #663610;
// $background-three: #8b5930;
// $background-four: rgb(72, 72, 72);
// $background-five: #f5efe4;

//////////////////////////////////////////////////////////////////////////////////////////
//Cores
$text-color-one: #ebfceb;
$text-color-two: rgb(73, 121, 61);
$text-color-three: #7fcf6b;

$border-color-zero: none;
$border-color-one: 1px solid #fff;
$border-color-two: 1px solid #49793d;
$border-color-three: 1px solid #49793d;
$border-one-side: #58ac43 4px groove;
$border-box-shadow-one: 2px 2px 3px #b2f5a1;

$color-one: #22b825;
$color-two: #084103;
$color-three: rgb(22, 100, 15);

$background-zero: black;
$background-one: #c5e3c4;
$background-three: #49793d;
$background-four: rgb(72, 72, 72);
$background-five: rgb(229, 245, 228);

//////////////////////////////////////////////////////////////////////////////////////////
// //Cores
// $text-color-one: #fff;
// $text-color-two: rgb(118, 20, 167);
// $text-color-three: rgb(208, 133, 248);

// $border-color-zero: none;
// $border-color-one: 1px solid #fff;
// $border-color-two: 1px solid #7e1dbe;
// $border-color-three: 1px solid #7e1dbe;
// $border-one-side: rgb(151, 41, 184) 4px groove;
// $border-box-shadow-one: 2px 2px 3px #c061f3;

// $color-one: #7e1dbe;
// $color-two: #4a166d;
// $color-three: #5e129b;
// $color-startRated: #b567f6;

// $background-zero: black;
// $background-one: #F3F1ED;
// $background-one-2: url('https://img.freepik.com/free-vector/floral-ornamental-abstract-background_52683-30016.jpg');
// $background-two: rgb(195, 95, 245);
// $background-three: rgba(101, 13, 145);
// $background-four: rgb(72, 72, 72);
// $background-five: #8d20a5;