.column {
  float: left;
  width: 25%;
  padding: 10px 5px;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.img-row:after {
  content: "";
  display: table;
  clear: both;
}

.img-container {
  position: relative;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.img-square {
  max-width: 85px;
  height: auto;
  object-fit: cover;
}

.h1,
h1 {
  font-size: 2.3rem;
}

.travelgreen-specs {
  background-color: #499167;
  padding: 10px;
}

.img-thumbnail {
  padding: 0;
  border: none;
  border-radius: .375rem;
  max-width: 100%;
  height: auto;


  &:hover {
    transform: scale(1.01);
    transition: ease-in-out 0.5s;
    filter: brightness(97%) contrast(86%);
  }
}

#lightbox {
  z-index: 1090;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*optional bg color*/
  background-color: rgba(196, 155, 237, 0.52);
  /*the following isn't necessary but will help center everything once we add buttons*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}