@import "../../styles/GlobalVariablesScss.scss";

.calendarWrap3 {
    background-color: #444444;
    border-radius: 1rem;
    text-align: center;

    height: 430px;
}

.inputBox3 {
    font-family: $font-normal;
    font-size: 1rem;
    background-color: rgb(115, 115, 115);
    width: 215px;
    margin: 0;
    margin-top: 0.5rem;
}

input.inputBox3 {
    text-align: center;
    padding: 5px 8px 4px 8px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);
}

.calendarElement3 {
    position: absolute;
    left: 8%;
    transform: translateX(5%);
    top: 67%;
    z-index: 0;

    .rdrMonthAndYearWrapper {
        display: none;
    }

    .rdrDefinedRangesWrapper {
        display: none;
    }
}