@import "../../styles/GlobalVariablesScss.scss";

.calendarWrap3 {
    background-color: #444444;
    border-radius: 1rem;
    text-align: center;

    height: 430px;
}

.inputBox3 {
    font-family: $font-normal;
    font-size: 1rem;
    background-color: rgb(115, 115, 115);
    width: 215px;
    margin: 0;
    margin-top: 0.5rem;

}

input.inputBox3 {
    text-align: center;
    padding: 5px 8px 4px 8px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);

}

.calendarElement3 {
    position: absolute;
    left: 8%;
    transform: translateX(5%);
    top: 67%;
    z-index: 0;


    .rdrCalendarWrapper,
    .rdrDateRangeWrapper {
        border-radius: 0.5rem;
    }


    .rdrMonthAndYearWrapper {
        display: none;
    }

    .rdrDefinedRangesWrapper {
        display: none;
    }

    .rdrDateDisplayWrapper {
        background-color: rgb(133, 171, 133);
        border: 1px solid $background-three;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .rdrMonths {
        display: flex;
        border: 1px solid $background-three;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .rdrStartEdge,
    .rdrEndEdge {
        background-color: rgb(71, 103, 71);
    }

    .rdrDay {
        background: $background-three2;
    }

    .rdrInRange {
        background: rgb(133, 171, 133);
    }
}