section {
  h2 {
    font-size: 24px;
    color: rgb(0, 0, 0);
  }

  .image-fields {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-areas: 'im im b';
    align-items: end;

    .image-field {
      grid-area: im;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        color: rgb(15, 100, 15);
        margin-right: 1rem;
      }

      input {
        padding: 0.5rem 0.25rem;
        border-radius: 0.5rem;
        width: 77.25%;
        margin-right: 1rem;
      }
    }

    .button-field {
      grid-area: b;
      display: flex;
      align-items: center;
      justify-content: flex-start;


      button {
        font-size: 1rem;
        border-radius: 999px;
        margin: 0;
        padding: 0.4rem 0.75rem;
      }
    }
  }
}