.appProduct {
  width: 100%;

  .bodyProduct {
    background: rgb(225, 224, 225);
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

    img {
      width: 45%;
      height: 500px;
    }
  }
}