.container-home
  width: 100%
  height: 100%
  min-height: 80vh
  font-family: Arial, Helvetica, sans-serif

  .container-search-home
    width: 100%
    display: flex
    background: #499167
    justify-content: center

    .content-search
      display: flex
      flex-direction: column
      align-items: center
      width: 100%
      gap: 1rem

      h1
        font-size: 2rem
        font-weight: 700
        color: white
        margin: 0.75rem 0

      .inputs-search
        display: flex
        width: 100%
        height: 100%
        gap: 0.5rem
        padding: 0
        padding-bottom: 0.75rem
        padding-top: 1rem
        justify-content: center
        align-items: center

        .select-location
          width: 33%
          position: relative

          input
            width: 50%
            text-align: center
            padding: 0.75rem 1rem
            border-radius: 0.313rem
            color: gray
            font-size: 14px
            font-weight: 400
            border: none
            position: relative

          .container-location-open
            width: 50%
            position: absolute
            opacity: 1
            padding: 1rem
            border-radius: 0 0 0.3rem 0.3rem
            z-index: 2
            box-shadow: 1px 4px 1px 1px black
            background-color: rgb(224, 228, 224)

            h3
              font-size: 16px
              color: rgb(50, 55, 50)
              margin: 0
              margin-bottom: 0.75rem

            .location-list
              display: flex
              width: 100%
              height: 100%
              flex-direction: column
              border-radius: 0 0 0.313rem 0.0313rem

              ul
                text-decoration: none
                list-style: none
                margin: 0
                border: 0
                padding: 0


          .container-location-close
            width: 0%
            height: 0
            background: red
            position: absolute
            opacity: 0

        ::placeholder
          color: gray
          font-size: 14px
          font-weight: 700

        .submit-search
          padding: 0.75rem 1.75rem
          border: 1px solid black
          color: black
          border-radius: 0.66rem
          background-color: white
          transition: all 0.3s ease-in-out
          font-size: 1rem
          font-weight: 700

          &:hover 
            color: white
            background: rgb(79, 122, 82)
            border: 1px solid rgb(167, 214, 170)
    

        .input-calendar
          width: 352px //paleativo 
          position: relative
          margin-right: 10% //paleativo 

          input
            width: 320px
            padding: 0.75rem 1rem
            border-radius: 0.313rem
            color: gray
            font-size: 14px
            font-weight: 400
            border: none
            margin: 0 0 0.25rem 0
            text-align: center

          .container-calendar-open
            position: absolute
            width: 100%
            transition: 0.3s
            z-index: 3

            .react-calendar
              width: 100%
              height: 100%
              background-color: #fff
              transition: 0.6s
              border-radius: 0.313rem
              box-shadow: 1px 4px 1px 1px black

          .container-calendar-close
            width: 0%
            position: absolute
            transition: 1.6s

  .container-diferential
    display: flex
    font-family: Arial, Helvetica, sans-serif
    justify-content: space-evenly
    background: #499167
    text-align: center

    .list-diferentials
      color: white
      margin: 0
      padding: 0
      border: 0    


  .container-category 
    height: auto
    padding: 1rem 3%  
    background: #f0fbf5

    h2
      font-size: 1.75rem
      font-weight: 700
      color: #499167
      padding: 0
      margin: 0

    .list-categories
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
      display: grid
      flex-wrap: wrap
      gap: 1rem
      padding: 1rem 0 0 0 
      width: 100%
      height: 100%
      object-fit: cover

  .container-product
    height: auto
    padding: 1rem 3%  
    gap: 1rem
    background: #f0fbf5
    

    h2
      font-size: 1.75rem
      font-weight: 700
      color: #499167
      padding: 0
      margin: 0

    .list-products
      display: grid
      flex-wrap: wrap
      justify-content: space-between
      gap: 1rem
      padding: 1rem 0
      width: 100%
      height: 100%
      grid-template-columns: repeat(auto-fit, minmax(545px, 1fr))
      object-fit: cover
