.location-item {

  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(126, 169, 116);

  .location-content {
    width: 177px;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-bottom: solid 2px rgb(157, 249, 142);
    padding: 0 0 0.5rem 0;

    .name-city {
      font-size: 14px;
      font-weight: bold;
      color: black;
    }

    .name-country {
      font-size: 14px;
      font-weight: 400;
      color: rgb(80, 226, 67);
    }

  }
}