.cardBody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  filter: brightness(0.9);
  transition: all 0.3s ease-in-out;
  background-color: gray;
  border-radius: 1rem;
  margin: 0.25rem;

  &:hover {
    opacity: 1;
    filter: brightness(1.1)
  }

  p {
    font-size: 1.5rem;
  }
}

.item {
  width: 100%;
}

.item img {
  width: 24.5vw;
  height: 250px;
  pointer-events: none;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}