
.card-category
  display: flex
  flex-direction: column
  max-width: 100%
  height: 350px
  border-radius: 0.625rem
  background: gray
  overflow: hidden

  img
    width: 100%
    height: 70%
    object-fit: cover

  .content-category
    display: flex
    flex-direction: column
    padding: 1rem
    gap: 0.313rem
    cursor: pointer

    p
      font-size: 20px
      font-weight: 700
      color: black

    span
      font-size: 12px
      font-weight: 700
      color: red
