.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: none;
  color: rgb(16, 103, 16);
  font-family: Arial, Helvetica, sans-serif;
  width: 348px;
}