// Tipografia
$font-normal: 'Ubuntu', sans-serif;
$font-bold: 'Ubuntu', sans-serif;

//Cores
$text-color-one: #fff;
$text-color-two: rgb(118, 20, 167);
$text-color-three: rgb(208, 133, 248);

$border-color-zero: none;
$border-color-one: 2px solid #fff;
$border-color-two: 2px solid #7e1dbe;
$border-color-three: 1px solid #7e1dbe;

$color-one: #7e1dbe;
$color-two: #451267;
$color-three: #5e129b;

$background-one: #F3F1ED;
$background-two: rgb(195, 95, 245);
$background-three: rgba(101, 13, 145);
$background-four: rgb(72, 72, 72);
$background-five: #8d20a5;