// Tipografia
$font-normal: 'Ubuntu', sans-serif;
$font-bold: 'Ubuntu', sans-serif;

//Cores
$text-color-one: #fff;
$text-color-two: rgb(118, 20, 167);
$text-color-three: rgb(208, 133, 248);

$border-color-zero: none;
$border-color-one: 1px solid #fff;
$border-color-two: 1px solid #7e1dbe;
$border-color-three: 1px solid #7e1dbe;
$border-one-side: rgb(151, 41, 184) 4px groove;
$border-box-shadow-one: 2px 2px 4px #c061f3;

$color-one: #7e1dbe;
$color-two: #451267;
$color-three: #5e129b;

$background-zero: black;
$background-one: #F3F1ED;
$background-one-2: url('https://img.freepik.com/free-vector/floral-ornamental-abstract-background_52683-30016.jpg');
$background-two: rgb(195, 95, 245);
$background-three: rgba(101, 13, 145);
$background-four: rgb(72, 72, 72);
$background-five: #8d20a5;