@import "../../styles/GlobalVariablesScss.scss";

.h2Home {
  font-size: 1.75rem;
  padding: 1rem 0 1rem 1rem;
  margin: 0;
  border: 0;
  font-family: $font-bold;
  font-weight: bold;
  color: $color-two;
}

.sectionCard {
  margin: 0;
  padding: 0;
  border: 0;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  .carrossel {
    cursor: grab;
    overflow: hidden;
    background: $background-one;
  }

  .inner {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
  }

}

@media(max-width: 850px) {
  .sectionCard {

    .inner {
      display: grid;
      grid-template-columns: 49vw 49vw;
      gap: 0.5rem;
      justify-items: stretch;
      width: 100%;
      align-items: stretch;
      justify-content: center;
    }

  }
}

@media(max-width: 750px) {
  .sectionCard {
    display: flex;
    flex-direction: column;


    .carrossel {
      display: flex;
      flex-direction: column;

    }

    .inner {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

  }
}

@media(max-width: 550px) {
  .sectionCard {
    .inner {

      width: 100%;

      margin-left: 0%;
    }

  }
}